@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@font-face {
  font-family: 'Mozilla Headline';
  src: url('/fonts/MozillaHeadline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-mozilla-headline: 'Mozilla Headline', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-theme-gray: #2e3636;
  --color-suit-teal: #193e52;
  --color-orange-highlight: #FF5733;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-mozilla-headline);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-condensed), Arial, Helvetica, sans-serif;
}